@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Water+Brush&display=swap');

:root{
    --color-primary-1: #795744;
    --color-primary-2: #eaded7;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper-container{
    width: 100%;
}

.wrapper{
    width: 80%;
    margin: 0rem auto;
    max-width: 1200px;
}