.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading{
    font-family: 'Water Brush', cursive;
    font-size: 2.5rem;
    padding: 1rem;
    color: var(--clr-primary-6);
}

.nav > ul{
    list-style: none;
    display: flex;
}

.nav > ul > li{
    margin: 0rem 1.5rem;
}

.nav ul li a{
    text-decoration: none;
    padding-bottom: 0.7rem;
}

.nav a:hover{
    border-bottom: 2px solid var(--clr-primary-3);
}